<h1>Welcome to Map My Ride</h1>

<section class="welcome-user">
  <article class="welcome-banner">
    <p id="welcome-text">Own an environmentally friendly vehicle? At Map My Ride you can find the right fuel for your car. Whether you fill up with Biodiesel, E85, propane, hydrogen, LNG, CNG, or you plug in, you can find the right fueling station nearest you.</p>
    <br>
    <p id="welcome-text">Looking to buy an alternative fuel vehicle but don't know which one is best for you? By creating an account, you can add vehicles to your profile and compare fueling stations in your area to help you make the right decision.</p>
  </article>
  <article class="welcome-links">
    <h3><%= link_to "Create Account", new_user_path, class: "button" %></h3>
    <h3><%= link_to "Sign In", login_path, class: "button" %></h3>
  </article>
</section>
