<section class="welcome-user">
  <article class="welcome-banner">
  </article>
  <article class="welcome-links">
    <h2><%= link_to "Create Account", new_user_path, class: "button" %></h2>
    <h2><%= link_to "Sign In", login_path, class: "button" %></h2>
  </article>
</section>
