<h1>Welcome to Map My Ride</h1>

<section class="welcome-user">
  <article class="welcome-banner">
  </article>
  <article class="welcome-links">
    <h3><%= link_to "Create Account", new_user_path, class: "button" %></h3>
    <h3><%= link_to "Sign In", login_path, class: "button" %></h3>
  </article>
</section>
