<section class="header-title">
  <h2>Add New Vehicle</h2>
</section>

<section class="two-column">

  <article class="car">
    <img src="https://di-uploads-pod4.dealerinspire.com/sunrisechevy/uploads/2015/11/2017-Chevrolet-Bolt.png" alt="Chevy Bolt">
  </article>

  <article class="info">
    <p>Enter Vehicle Information:</p>
    <%= render partial: "form" %>
  </article>

</section>
