/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$color1: rgba(240, 239, 242, 1);
$color2: rgba(191, 191, 191, 1);
$color3: rgba(0, 0, 43, 1);
$color4: rgba(23, 123, 237, 1);
$color5: rgba(14, 74, 142, 1);
$font-stack: Helvetica, sans-serif;

.flash {
  display: flex;
  justify-content: center;
}

body {
  background-color: $color2;
  font-family: 'Cairo', sans-serif;
  font-size: 20px;
}

#welcome-text {
  color: $color1;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20%;
  text-align: center;
  max-width: 300px;
  padding: 20px;
}

.logout {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  color: $color3;
  font-size: 14px;

  a {
    text-decoration: none;
  }
  a:visited {
    color: $color3;
  }
  a:active {
    color: $color4;
  }
}

nav {
  font-family: 'Cairo', sans-serif;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  li {
    color: $color1;
    flex-grow: 1;
    padding: 10px;
    background-color: $color4;
    text-align: center;
    min-width: 200px;
  }

  li:hover {
    background-color: $color5;
    color: $color3;
  }

  a:link {
    text-decoration: none;
  }
  a:visited {
    color: $color1;
  }
  a:active {
    color: $color3;
  }
}

.button-container {
  display: flex;
}

.button {
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px;
  background-color: $color3;
  color: $color1;
  border-radius: 5%;
  text-align: center;
}

.button:link {
  text-decoration: none;
}
.button:hover {
  background-color: $color5;
}
.button:active {
  background-color: $color4;
  color: $color3;
}

.big-button {
  margin-top: 10px;
  margin-right: 20px;
  padding: 20px;
  font-size: 30px;
  background-color: $color3;
  color: $color1;
  border-radius: 5%;
  min-width: 200px;
  text-align: center;
}

.big-button:link {
  text-decoration: none;
}
.big-button:hover {
  background-color: $color5;
}
.big-button:active {
  background-color: $color4;
  color: $color3;
}

.new {
  display: flex;
  justify-content: flex-end;
}

.header-title {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: $color1;
  color: $color4;
  font-size: 30px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  text-align: center;
}

.two-column {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;

  .car {
    min-width: 0;
    margin: 5px;
    flex-grow: 1;
    background-color: $color3;
    border: 3px solid $color3;
    text-align: center;
    img {
      width: 450px;
      max-width: 100%;
      max-height: 450px;
    }
  }

  .info {
    margin: 5px;
    min-width: 400px;
    flex-grow: 1;
    background-color: $color1;
    border: 3px solid $color1;
    p {
      font-family: 'Raleway', sans-serif;
      padding: 5px;
    }
  }
}

.car-index {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .each-car {
    margin: 10px;

    p {
      padding: 5px;
    }
    img {
      width: 450px;
      max-width: 100%;
      max-height: 450px;
    }
  }
}

.welcome-user {
  display: flex;
  flex-direction: column;
  .user-banner {
    background: url("https://www.quickenloans.com/blog/wp-content/uploads/2015/05/Hybrid-Car.jpg") no-repeat;
    background-size: contain;
    background-position: center;
    padding: 200px;
    margin: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
    .welcome-banner {
      background: url("https://s1.cdn.autoevolution.com/images/news/manic-for-organic-a-guide-to-alternative-fuels-1879_1.jpg") no-repeat;
      border-radius: 70%;
      opacity: 0.5;
      background-size: contain;
      background-position: center;
      padding: 200px;
      margin: 20px;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-content: center;
      flex-direction: column;
      flex-wrap: wrap;
    }

    h1 {
      color: $color1;
      font-size: 40px;
      text-shadow:  -1px 0 $color2, 0 1px $color2, 1px 0 $color2, 0 -1px $color2;
    }
    h2 {
      color: $color2;
      font-size: 40px;
      text-shadow:  -2px 0 black, 0 2px black, 1px 0 black, 0 -2px black;
    }
  }

  .create-links {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .welcome-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 10px;
  }

  .user-login-create {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stations-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    img {
      max-width: 150px;
    }

    .stations-list {
      max-width: 300px;
      padding: 20px;
      text-align: center;
    }
  }

  .saved-stations {
    font-size: 30px;
    color: $color4;
    margin-bottom: 20px;
  }

  .stations-headers {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      padding: 20px;
      background-color: $color3;
      color: $color1;
      border-radius: 5%;
      text-align: center;
      text-decoration: none;
      font-size: 22px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    a:hover {
      background-color: $color5;
      color: $color3;
    }
    a:visited {
      color: $color1;
    }
    a:active {
      color: $color3;
    }
  }

  .small-button {
    background-color: $color3;
    color: $color1;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    padding: 5px;
  }
  .small-button:hover {
    background-color: $color5;
  }
  .small-button:visited {
    color: $color1;
  }
  .small-button:active {
    color: $color3;
  }

  .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-station {
    align-self: flex-end;
    margin-right: 20px;
  }
