<%= render "../views/admin_navigation" %>

<section class="welcome-user">
  <article class="user-banner">
    <h1>Welcome <%= current_user.username %>!</h1>
    <br>
    <article class="create-links">
      <%= link_to "Add Stations", new_admin_search_path, class: "big-button" %>
    </article>
  </article>
</section>
