<header>
  <nav>
    <ul>
      <li><%= link_to admin_user_path(current_user) do %>
        <div>Home</div>
      <% end %></li>
      <li><%= link_to admin_stations_path do %>
        <div>Available Stations</div>
      <% end %></li>
      <li><%= link_to logout_path, method: "delete" do %>
        <div>Logout</div>
      <% end %></li>
    </ul>
  </nav>
</header>
