<header>
  <div class="logout">
    <%= link_to "Logout", logout_path, method: "delete" %>
  </div>
  <nav>
    <ul>
      <li><%= link_to admin_stations_path do %>
        <div>Available Stations</div>
      <% end %></li>
    </ul>
  </nav>
</header>
